<li class="external-link"><a href="https://github.com/xeodou"><i class="fa fa-github"></i> GitHub</a></li>
<li class="external-link"><a href="https://www.linkedin.com/profile/view?id=147078905"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
<li class="external-link"><a href="https://twitter.com/xeodou"><i class="fa fa-twitter"></i> Twitter</a></li>
<li class="external-link"><a href="https://plus.google.com/+XeodouLi"><i class="fa fa-google-plus"></i> Google+</a></li>
<li class="external-link"><a href="http://weibo.com/xeodou"><i class="fa fa-weibo"></i> Weibo</a></li>
<li class="external-link"><a target="_blank" href="mailto:xeodou@gmail.com"><i class="fa fa-envelope"></i> Contact</a></li>
<li class="external-link"><a href="http://about.me/xeodou"><i class="fa fa-link"> About.me</a></li>
